[submodule "src/smhasher"]
	path = src/smhasher
	url = https://github.com/rurban/smhasher.git
[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/t1ha"]
	path = src/t1ha
	url = https://github.com/leo-yuriev/t1ha.git
[submodule "src/highwayhash"]
	path = src/highwayhash
	url = https://github.com/google/highwayhash.git
[submodule "src/xxHash"]
	path = src/xxHash
	url = https://github.com/Cyan4973/xxHash.git
